RUST_LOG="info"

HOST="127.0.0.1"
PORT=3000

DATABASE_URL="mysql://user:password@localhost/rigel"

AUTH_SECRET="MY_SECRET"

PUBLIC_HTTP_URL="http://localhost:3000"
PUBLIC_WS_URL="ws://localhost:3000"

INSTANCE_NAME="Rigel"
INSTANCE_DESCRIPTION="A Rigel instance"
INSTANCE_IMAGE="https://example.com/image.png"
INSTANCE_CORRESPONDENCE_EMAIL="contact@example.com"
INSTANCE_CORRESPONDENCE_USER_ID="1234567890"
INSTANCE_FRONT_PAGE="https://example.com"
INSTANCE_TOS_PAGE="https://example.com/tos"